.landingPage {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player{
    height: 400px;
    width: 600px;
    margin: 50px auto;  
}